* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu a:hover {
  background-color: #0099cc;
}

.menu a {
  color: white;
  text-decoration: none;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* CSS ROUNDED CORNER */
#rcorners1 {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 20px;
  width: 200px;
  height: 150px;
}

/* BORDER IMAGE */
#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}

/* BACKGROUND IMAGE */
#example1 {
  background-image: url(background_image.jpg);
  background-position: cover;
  padding: 15px;
}

/* Color.html */
.colorP {
  padding: 10px;
}

#p1 {
  background-color: rgba(255, 0, 0, 0.3);
}

#p2 {
  background-color: rgba(0, 255, 0, 0.3);
}

#p3 {
  background-color: rgba(0, 0, 255, 0.3);
}

#p4 {
  background-color: rgba(192, 192, 192, 0.3);
}

#p5 {
  background-color: rgba(255, 255, 0, 0.3);
}

#p6 {
  background-color: rgba(255, 0, 255, 0.3);
}

/* Color Keyword */
body {
  background-image: url("paper.gif");
}

div.ex1 {
  background-color: lightgreen;
  border: 2px solid black;
  padding: 15px;
}

div.ex2 {
  background-color: transparent;
  border: 2px solid black;
  padding: 15px;
}

/* Gradient */
#grad1 {
  height: 200px;
  background-color: red;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}

/* Shadow */
.shadowH1 {
  text-shadow: 2px 2px;
}
.shadow {
  width: 300px;
  height: 100px;
  padding: 15px;
  background-color: coral;
  box-shadow: 10px 10px 5px 12px lightblue;
}

/* Text Effect */
p.test {
  width: 11em;
  border: 1px solid #000000;
  word-wrap: break-word;
}

p.test1 {
  writing-mode: horizontal-tb; 
}

span.test2 {
  writing-mode: vertical-rl; 
}

p.test2 {
  writing-mode: vertical-rl; 
}